/* This is a multi-line
comment. Add your CSS code
from Unit 1 - 5 below  */
h1	{
	color: rgb(13,123,133);
	font-family: 'Fjalla One', sans-serif;
}
h3	{
	font-family: 'Droid Serif', serif;
	color: #D13A11;
}
h2	{
	font-family: 'Fjalla One', sans-serif;
	color: #E8931B;
	
}
body {
	background-color: #EDFAFA;
}
a {
	font-style: italic;
	text-decoration: none;
}
nav {
	background-color: #808080;
}
nav a:link {
	background-color: #ffbf00;
	color: rgb(250,250,250);
	padding: 35px;
	display: block;
	float: left;
}
nav a:hover {
	background-color: #ee5f3c;
}
footer {
	background-color: #808080;
	float: left;
	width: 100%;
	height: 40px;
}
header, main, footer {
	text-align: center;
}
img {
	height: 200px;
	width: 150px;
}
.clearfix:after {
	visibility: hidden;
	display: block;
	content: " ";
	clear: both;
	height: 0;
	font-size: 0;
}
.board {
	height: 50%;
	width: 50%;
	background-color: #43ff43;
}

.card {
	height: 200px;
	width: 150px;
	border: 1px solid #000000;
	background-color: #FCFF16;
	border-radius: 10px;
	display: inline-block;
	float: left;
	margin: 8%; 
}

.name {
	color: #ff0000;
}